modules = ["nodejs-20"]

[workflows]
runButton = "Download Server"

[[workflows.workflow]]
name = "Start Backend"
author = 40441633

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd extracted/backend/LostCloud-backend-main && npm install && npm start"

[[workflows.workflow]]
name = "Start Frontend"
author = 40441633

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd extracted/frontend/LostCloud-main && npm start"

[[workflows.workflow]]
name = "Download Server"
author = 40441633

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node serve_downloads.js"

[[ports]]
localPort = 3000
externalPort = 80

[nix]
channel = "stable-24_05"
